@import url('https://webfontworld.github.io/sunn/SUIT.css');
.container {
  width: 390px;
  height: 844px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -770px; 
}

.logo {
  margin-top: 40px;
}

.logoText {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "SUIT Variable";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
.loginWp{
  margin-top: 70px;
  margin-left: 5px;
}
.loginBox {
  color: #fff;
  border: none;
  padding-left: 20px;
  width: 216px;
  height: 39px;
  border-radius: 20px;
  background: rgba(29, 29, 29, 0.65);
  margin-top: 10px;
  margin-left: 70px;
}

.loginBox::placeholder {
  color: #fff;
  font-family: "SUIT Variable";
  font-size: 14px;
  font-weight: 400;
}

.loginBox:focus {
  outline: none;
  color: #fff;
}
.btnWp{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.memJoinBtn,
.loginBtn {
  color: #fff;
  width: 112px;
  height: 32px;
  border-radius: 20px;
  background: var(
    --button-2,
    linear-gradient(121deg, #47c3fd -5.17%, #402846 54.32%)
  );
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  margin-top: 10px;
}

.loginBtn {
  margin-top: 10px;
}

.error {
position: fixed;
bottom: 508px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.find {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.findId,
.findPw {
  width: 100px;
  color: #fff;
  font-family: "SUIT Variable";
  font-size: 14px;
  font-weight: 400;
}
.findPw{
  margin-left: 10px;
}
.findId{
  margin-left: 15px;
  width: 110px;
  margin-right: 10px;
}
.line {
  margin-left: 30px;
}

.loginPlatformWp {
  width:  296px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border-top: 1px solid #fff;
  padding-top: 20px;
  
}
.loginGoogle{
  margin-top: 15px;
}
.loginGoogle,
.loginKakao {
  color: #fff;
  text-align: center;
  width: 236px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(29, 29, 29, 0.65);
  margin-bottom: 10px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
}