@import url('https://webfontworld.github.io/sunn/SUIT.css');

.fx {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.fx0 {
  flex: 0.8;
}
.fx3 {
  flex: 3;
}

.form {
  font-family: "SUIT Variable";
  font-weight: 700;
  width: 354px;
  height: 844px;
  background: var(--main2, #402846);
  padding: 1px;
  padding-left: 35px;
  display: block;
  color: #fff;
}

.notif {
  color: var(--point1, #e42a89);
  font-size: 8px;
  font-weight: 300;
  margin-left: 10px;
}
.pt {
  color: var(--point1, #e42a89);
}

.wp {
  margin-top: 30px;
  font-size: 12px;
}

.defaultStyleNone,
emailBox::placeholder,
input[type="date"] {
  border-radius: 5px;
  background: #cdbacb;
  outline: none;
  border: none;
  font-size: 10px;
  color: #575050;
}

.ddBox {
  width: 60px;
  height: 23px;
  text-align: center;
}
input {
  padding-left: 10px;
}

.profileImg {
  float: left;
  margin-top: 20px;
  position: relative;
  bottom: 20px;
}
.addImg{
  display: inline-block;
  position: relative;
  right: 15px
}
.profileTitle{
  margin-top: 70px;
  margin-bottom: 10px;
}

.nicknameWrapper{
  position: relative;
  left: 16px;
}
.nicknameBox{
  width: 120px;
  height: 22px;
}
.birthWrapper{
  position: relative;
  bottom: 20px;
  left: 16px;
}

input[type="date"] {
  width: 85px;
  height: 22px;
  font-size: 10px;
  color: transparent;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

input[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  left: 10px;
  color: #575050;
  font-size: 10px;
  font-family: "SUIT Variable";
  z-index: 0;
}

input[type="date"]:valid {
  font-family: "SUIT Variable";
  color: #575050;
}

input[type="date"]:valid::before {
  content: "";
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  z-index: 2;
}
.starWrapper {
  position: relative;
  bottom: 40px;
  left: 91px;
}
.starBox{
  width:65px;
  position: relative;
  right: 15px;
}

input[type="checkbox"] {
  margin-right: 13px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #999;
  appearance: none;
  cursor: pointer;
  transition: background 0.2s;
  position: relative;
  top: 6px;
}
input[type="checkbox"]:checked {
  background: #e42a89;
  border: none;
}
.completeBtn {
  position: relative;
  right: 20px;
  margin-top: 55px;
  margin-left: 30px;
  width: 295px;
  height: 60px;
  color: #fff;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  border-radius: 40px;
  background: var(
    --button,
    linear-gradient(101deg, #e42a89 -2.02%, #402846 70.2%)
  );
  box-shadow: 0px 4px 4px 0px rgba(71, 195, 253, 0.25),
    0px 4px 4px 0px rgba(71, 195, 253, 0.25) inset;
}

.completeCmt {
  position: relative;
  top: 15px;
}


.signupTitle{
  color: #FFF;
  font-family: "SUIT Variable";
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0.32px; position: relative;
  top: 40px; 
  padding-bottom: 40px;
}

.navbar{
  padding-top: 15px;
  position: relative;
  right: 34px;
  bottom: 1px;
  text-align: center;
  width: 389px;
  height: 36px;
  background: linear-gradient(96deg, #402846 54.12%, #E42A89 96.19%);
}
.backBtn{
  position: relative;
  right: 140px;
  top: 2px;
}

.profile{
  margin-top: 80px;
}
